.cart-item {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  width: 80%;
  padding: 2rem;
}

.item-header{
  display: grid;
   grid-template-columns: 1fr 120px 110px;
   padding-left: 0.8rem;
   margin-top: 1rem;
   font-size: 1rem;
   font-weight: bold;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-color: #9491913d;
  border-radius: 10px;
  padding: 1rem;
}

.items-container::-webkit-scrollbar {
  scrollbar-width: none;
}

.item {
  display: grid;
  grid-template-columns: 70px 1fr 80px 80px 30px;
  align-items: center;
  gap: 1rem;
  background-color: #9491913d;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0.5rem;
  text-align: center;
}

.item h3 {
  font-size: 1rem;
}

.item img { 
  width: 70px;
  border-radius: 10px;
}

.quantity-container {
  display: flex;
  align-items: center;
}

.quantity-container button {
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.quantity-container button:hover {
  background-color: #555;
}

.quantity-container p {
  margin: 0 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.quantity-container button:active {
  transform: scale(0.9);
}

.decrease-button{
  background-color: #ac1f1f;
}

.increase-button{
  background-color: #41de32;
}

.price{
  font-size: 1rem;
  font-weight: bold;
}

.remove-button{
  border: none;
  color: rgb(243, 13, 13);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

.remove-button:hover {
  color: #ac1f1f;
}

.remove-button:active {
  transform: scale(0.9);
}

.cart-info-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  color: #333;

}

.cart-info-container button{
  border: none;

  outline: none;
  background-color: #127bac;
  padding: 0.7rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cart-info-container button:hover{
  background-color: #2e7587;
}

.cart-info-container button:active{
  transform: scale(0.9);
}

.coupon-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  background-color: #ffff;
  padding: 1rem;
  border-radius: 10px;
}

.order-summary-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  background-color: #ffff;
  padding: 1rem;
  border-radius: 10px;
}

.order-summary-container p{
  font-size: 1rem;
  font-weight: bold;
}

.payment-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  background-color: #ffff;
  padding: 1rem;
  border-radius: 10px;
}

hr{
  border: none;
  height: 1px;
  background-color: #adaaaa;
  box-shadow: 0 1px 0 #c8bdbd;
}

.coupon-container input{
  border: none;
  outline: none;
  background-color: #e1dfdf;
  padding: 0.7rem;
  border-radius: 10px;
}

.payment-container button:active{
  transform: scale(0.9);
  border: 1px solid #127bac;
}

.payment-methods-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
}

.clear-cart-button{
  border: none;
  outline: none;
  background-color: #127bac;
  width: 100px;
  padding: 0.7rem;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.clear-cart-button:hover{
  background-color: #2e7587;
}

.clear-cart-button:active{
  transform: scale(0.9);
}


.payment-button.active{
  background-color: #2e7587;
  border: 2px solid #759b37;
}



@media (max-width: 768px) {
  .cart-item {
    grid-template-columns: 1fr;
  }

  /* .cart-info-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    background-color: #ffff;
    padding: 1rem;
    border-radius: 10px;
  } */
  .item-header {
    display: none;
  }
  .item {
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}