header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #3b3b3b;
    width: 100%;
    margin-bottom: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.side-nav {
    display: none;
}

.side-nav a {
    text-decoration: none;
    color: #fff;
}

.side-nav a.active {
    text-decoration: underline;
}

.side-nav.show {
    display: block;
}

.hamburger-container {
    display: none;
}

.center-section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.center-section input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    width: 500px;
    height: 40px;
    font-size: 1rem;
    color: #3b3b3b;
    padding-left: 1rem;
    border: 1px solid #3b3b3b;
    outline: none;
}

.center-section input:focus {
    border: 1px solid #fff;
    box-shadow: 0 0 5px #fff;
}

.right-section {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.cart {

    position: relative;
}

.cart p {
    font-size: 14px;
    position: absolute;
    top: -4px;
    right: -8px;
    color: #fff;
    font-weight: bold;
    background-color: #b31010;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    align-items: center;
}

.cart p {
    animation: pop .2s ease;
}

@keyframes pop {
    0% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}

.left-section a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.right-section a {
    text-decoration: none;
    color: #fff;
}

.left-section a.active,
.right-section a.active {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .center-section input {
        width: 100%;
    }

    .left-section,
    .right-section {
        display: none;
    }

    .hamburger-container {
        display: block;
    }

    .side-nav {
        padding: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 100vh;
        background-color: #3b3b3b;
        z-index: 1001;
        transition: .3s ease;
    }

    .side-nav.show {
        transform: translateX(0);
    }

    .overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1000;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        text-decoration: none;
    }

    .center-section input {
        max-width: 300px;
    }

}

.logout-btn {
    background-color: #b31010;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

