.product-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-content: center;
    margin-top: 6rem;
}
    

@media (max-width: 768px) {
    .product-list {
        grid-template-columns: repeat(1, 1fr);
    }
}


