* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #605050;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
